/* ============================================= */
/*                  Colors                       */
/* ============================================= */
/* ============================================= */
/*              Other Variables                  */
/* ============================================= */
/* ============================================= */
/*              Typography                       */
/* ============================================= */
body {
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 20px;
}

.card-text, li {
  font-family: "Raleway", sans-serif;
}

.my-name, .profession, hr {
  color: #fbfffe;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.strike {
  text-decoration: line-through;
}

.project-bubble p {
  color: #D2386C;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: "Lato", sans-serif;
  color: #27272A;
  box-sizing: border-box;
}

.project-bubble {
  background-color: #fbfffe;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  text-align: center;
}

.project-bubble > p {
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  color: #fbfffe;
}

.proj-1, .skill-proj-1 .badge {
  background-color: #E9DA4E;
}

.proj-2, .skill-proj-2 .badge {
  background-color: #EC7F9E;
}

.proj-3, .skill-proj-3 .badge {
  background-color: #D2386C;
}

.proj-4, .skill-proj-4 .badge {
  background-color: #3CADD4;
}

.proj-5, .skill-proj-5 .badge {
  background-color: #64BFA3;
}

.proj-6, .skill-proj-6 .badge {
  background-color: #f8b87c;
}

.proj-7, .skill-proj-7 .badge {
  background-color: #C3D263;
}

.proj-8, .skill-proj-8 .badge {
  background-color: #919BC8;
}

.project-bubble:hover {
  animation: bounce 1.5s ease-in;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  8% {
    transform: translate(0px, -50px);
  }
  16% {
    transform: translate(0px, 30px);
  }
  25% {
    transform: translate(0px, -40px);
  }
  33% {
    transform: translate(0px, 20px);
  }
  41% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  58% {
    transform: translate(0px, -15px);
  }
  66% {
    transform: translate(0px, 7px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  83% {
    transform: translate(0px, 3px);
  }
  91% {
    transform: translate(0px, -2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* ============================================= */
/*              Layout                      */
/* ============================================= */
html {
  position: relative;
}

body, html {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.back-image {
  background-image: linear-gradient(rgba(233, 218, 78, 0.8), rgba(236, 127, 158, 0.8), rgba(210, 56, 108, 0.8)), url("../images/white-pokey-things.jpg");
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 300px;
  justify-content: center;
}

.proj-modal-content {
  display: flex;
  flex-direction: column;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
}

.skills .badge {
  margin: 0 10px;
  height: 1.2rem;
}

/* ============================================= */
/*              Images                           */
/* ============================================= */
.gh-logo {
  height: 40px;
  width: auto;
}

.logo-proj-1 .gh-path {
  fill: #E9DA4E;
}

.logo-proj-2 .gh-path {
  fill: #EC7F9E;
}

.logo-proj-3 .gh-path {
  fill: #D2386C;
}

.logo-proj-4 .gh-path {
  fill: #3CADD4;
}

.logo-proj-5 .gh-path {
  fill: #64BFA3;
}

.logo-proj-6 .gh-path {
  fill: #f8b87c;
}

.logo-proj-7 .gh-path {
  fill: #C3D263;
}

.logo-proj-8 .gh-path {
  fill: #919BC8;
}

.projemodal img {
  width: 100%;
  padding: 10px;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 48, 46, 0.4);
}

.project-modal {
  width: 50vw;
  display: block;
  margin: 5% auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  padding: 30px 20px;
  background-color: #fbfffe;
}

.modal-content {
  position: absolute;
  top: 0;
  text-align: left;
}

.project-modal img {
  align-self: center;
  width: 50%;
  border-radius: 5px;
}

hr {
  width: 95%;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
}

.modal-prev {
  left: 5px;
}

.modal-next {
  right: 5px;
}

.hidden {
  display: none;
}

/* ============================================= */
/*              Navigation                       */
/* ============================================= */

/*# sourceMappingURL=styles.css.map */
