/* ============================================= */
/*                  Colors                       */
/* ============================================= */
/* ============================================= */
/*              Other Variables                  */
/* ============================================= */
/* ============================================= */
/*              Typography                       */
/* ============================================= */
body {
  font-family: "Raleway", sans-serif;
}

h1, h2, h5 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 15px;
}

.card-text, li {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.my-name, .profession, hr {
  color: #fcf7e4;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.about {
  color: #fcf7e4;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.project-bubble p {
  color: #D2386C;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.description, .topic {
  font-family: "Raleway", sans-serif;
}

/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: "Lato", sans-serif;
  color: #27272A;
  box-sizing: border-box;
}

.project-bubble {
  background-color: #fcf7e4;
  max-width: 150px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  text-align: center;
  animation-name: drop, bounce;
  animation-timing-function: ease-in, ease-out;
}

.project-bubble > p {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  color: #fcf7e4;
  font-size: 13px;
}

.proj-1, .skill-proj-1 .badge {
  background-color: #E9DA4E;
}

.proj-2, .skill-proj-2 .badge {
  background-color: #EC7F9E;
}

.proj-3, .skill-proj-3 .badge {
  background-color: #D2386C;
}

.proj-4, .skill-proj-4 .badge {
  background-color: #3CADD4;
}

.proj-5, .skill-proj-5 .badge {
  background-color: #64BFA3;
}

.proj-6, .skill-proj-6 .badge {
  background-color: #F8b87c;
}

.proj-7, .skill-proj-7 .badge {
  background-color: #C3D263;
}

.proj-8, .skill-proj-8 .badge {
  background-color: #919BC8;
}

@keyframes drop {
  0% {
    transform: translate(0px, -1000px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  8% {
    transform: translate(0px, -50px);
  }
  16% {
    transform: translate(0px, 30px);
  }
  25% {
    transform: translate(0px, -40px);
  }
  33% {
    transform: translate(0px, 20px);
  }
  41% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  58% {
    transform: translate(0px, -15px);
  }
  66% {
    transform: translate(0px, 7px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  83% {
    transform: translate(0px, 3px);
  }
  91% {
    transform: translate(0px, -2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* ============================================= */
/*              Layout                      */
/* ============================================= */
html {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.back-image {
  background-image: linear-gradient(rgba(233, 218, 78, 0.8), rgba(236, 127, 158, 0.8), rgba(210, 56, 108, 0.8)), url("../images/white-pokey-things.jpg");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  padding-top: 5vh;
}

.contact {
  display: flex;
  justify-content: space-around;
  width: 160px;
}

hr, .about {
  width: 50%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex: 0 300px;
  justify-content: center;
  margin-bottom: 10vh;
}

.proj-modal-content {
  display: flex;
  flex-direction: column;
}

.description, .topics {
  text-align: left;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.skills .badge {
  margin: 0 5px;
  height: 1.2rem;
}

/* ============================================= */
/*              Images                           */
/* ============================================= */
.gh-logo {
  height: 40px;
  width: auto;
}

.gh-logo:hover {
  filter: drop-shadow(1px 1px 1px black);
}

.logo-proj-1 .gh-path {
  fill: #E9DA4E;
}

.logo-proj-2 .gh-path {
  fill: #EC7F9E;
}

.logo-proj-3 .gh-path {
  fill: #D2386C;
}

.logo-proj-4 .gh-path {
  fill: #3CADD4;
}

.logo-proj-5 .gh-path {
  fill: #64BFA3;
}

.logo-proj-6 .gh-path {
  fill: #F8b87c;
}

.logo-proj-7 .gh-path {
  fill: #C3D263;
}

.logo-proj-8 .gh-path {
  fill: #919BC8;
}

img:hover {
  filter: drop-shadow(2px 2px 2px black);
}

.project-modal img {
  width: 100%;
  padding: 10px;
}

.contact path {
  fill: #D2386C;
}

.contact svg {
  margin: 20px;
  height: 35px;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 48, 46, 0.4);
}

.project-modal {
  width: 95%;
  display: block;
  margin: 3% auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  padding: 30px 20px;
  background-color: #fcf7e4;
}

.modal-content {
  position: absolute;
  top: 0;
  text-align: left;
}

.project-modal img {
  align-self: center;
  width: 50%;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
}

.modal-prev {
  left: 5px;
}

.modal-next {
  right: 5px;
}

.hidden {
  display: none;
}

/* ============================================= */
/*              Navigation                       */
/* ============================================= */
/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: 768px) {
  .project-modal {
    width: 75%;
  }

  .project-bubble > p {
    top: 40%;
    font-size: 14px;
  }

  .skills .badge {
    margin: 0 10px;
  }

  .jumbotron {
    padding-top: 10vh;
  }

  .project-list {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .jumbotron {
    padding-top: 15vh;
  }

  .project-modal {
    width: 50%;
  }

  .project-list {
    width: 90%;
  }

  .project-bubble > p {
    top: 35%;
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
