/* ============================================= */
/*                  Colors                       */
/* ============================================= */

$main-text: #27272A;
$light-text: #8c9996;
$background: #f3faf8;
$background-modal: rgba(38, 48, 46, 0.4);
$accent-light: #B4DDD5;
$accent-dark: #7FB6AC;
$light: #fbfffe;
$bright: #00AA92;
// $color-1: #7AB53F;
// $color-2: #B52561;
// $color-3: #FFAC4F;
// $color-4: #FD6C6B;
// $color-5: #065F9F;
// $color-6: #D52923;
// $color-7: #8D9140;
// $color-8: #E7B3BF;
$color-1: #E9DA4E;
$color-1-trans: rgb(233, 218, 78, 0.8);
$color-2: #EC7F9E;
$color-2-trans: rgb(236, 127, 158, 0.8);
$color-3: #D2386C;
$color-3-trans: rgb(210, 56, 108, 0.8);
$color-4: #3CADD4;
$color-5: #64BFA3;
$color-6: #F4EEE8;
$color-7: #C3D263;
$color-8: #919BC8;




/* ============================================= */
/*              Other Variables                  */
/* ============================================= */

$screen-break: 768px;
$font-xl: 40px;
$font-l: 30px;
$font-m: 17px;
$font-s: 12px;
