/* ============================================= */
/*                  Colors                       */
/* ============================================= */

$main-text: #27272A;
$light-text: #8c9996;
$background: #f3faf8;
$background-modal: rgba(38, 48, 46, 0.4);
$light: #fbfffe;
$color-1: #E9DA4E;
$color-1-trans: rgb(233, 218, 78, 0.8);
$color-2: #EC7F9E;
$color-2-trans: rgb(236, 127, 158, 0.8);
$color-3: #D2386C;
$color-3-trans: rgb(210, 56, 108, 0.8);
$color-4: #3CADD4;
$color-5: #64BFA3;
$color-6: #F8b87c;
$color-7: #C3D263;
$color-8: #919BC8;

$bubble-colors:
  $color-1,
  $color-2,
  $color-3,
  $color-4,
  $color-5,
  $color-6,
  $color-7,
  $color-8;


/* ============================================= */
/*              Other Variables                  */
/* ============================================= */

$screen-break-sm: 768px;
$screen-break-lg: 1024px;
$font-xl: 40px;
$font-l: 30px;
$font-m: 17px;
$font-s: 15px;
