.project-bubble {
  background-color: $light;
  max-width: 150px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  text-align: center;
}

.project-bubble > p {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  color: $light;
  font-size: $font-s;
}

@for $i from 1 through 8 {
  .proj-#{$i}, .skill-proj-#{$i} .badge {
    background-color: nth($bubble-colors, $i);
  }
}

.project-bubble:hover {
  animation: bounce 1.5s ease-in;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  8% {
    transform: translate(0px, -50px);
  }
  16% {
    transform: translate(0px, 30px);
  }
  25% {
    transform: translate(0px, -40px);
  }
  33% {
    transform: translate(0px, 20px);
  }
  41% {
    transform: translate(0px, -25px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  58% {
    transform: translate(0px, -15px);
  }
  66% {
    transform: translate(0px, 7px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  83% {
    transform: translate(0px, 3px);
  }
  91% {
    transform: translate(0px, -2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}