.project-bubble {
  background-color: $light;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  text-align: center;
}

.project-bubble > p {
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  color: $light;
}

@for $i from 1 through 8 {
  .proj-#{$i}, .skill-proj-#{$i} .badge {
    background-color: nth($bubble-colors, $i);
  }
}

.project-bubble:hover {
  animation: bounce 2s ease-in;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -50px);
  }
  30% {
    transform: translate(0px, 30px);
  }
  45% {
    transform: translate(0px, -40px);
  }
  60% {
    transform: translate(0px, 20px);
  }
  75% {
    transform: translate(0px, -30px);
  }
  90% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}