/* ============================================= */
/*              Images                           */
/* ============================================= */

.gh-logo {
  height: 40px;
  width: auto;
}

.gh-logo:hover {
  filter: drop-shadow(1px 1px 1px black);
}

@for $i from 1 through 8 {
  .logo-proj-#{$i} .gh-path {
    fill: nth($bubble-colors, $i);
  }
}

img:hover {
  filter: drop-shadow(2px 2px 2px black);
}

.project-modal img {
  width: 100%;
  padding: 10px;
}

.contact path {
  fill: $color-3;
}

.contact svg {
  margin: 20px;
  height: 35px;
  width: auto;
}