/* ============================================= */
/*              Images                           */
/* ============================================= */

.gh-logo {
  height: 40px;
  width: auto;
}

@for $i from 1 through 8 {
  .logo-proj-#{$i} .gh-path {
    fill: nth($bubble-colors, $i);
  }
}

.modal img {
  width: 100%;
  padding: 10px;
}
