/* ============================================= */
/*              Images                           */
/* ============================================= */

.gh-logo {
  height: 40px;
  width: auto;
}

.gh-path {
  fill: $color-3;
}

