/* ============================================= */
/*              Layout                      */
/* ============================================= */

html {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.back-image {
  background-image: linear-gradient($color-1-trans, $color-2-trans, $color-3-trans), url("../images/white-pokey-things.jpg");
  // Photo by <a href="https://unsplash.com/@christopher__burns?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christopher Burns</a> on <a href="https://unsplash.com/@christopher__burns?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  padding-top: 5vh;
}

.contact {
  display: flex;
  justify-content: space-around;
  width: 160px;
}

hr, .about {
  width: 70%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  flex: 0 300px;
  justify-content: center;
  margin-bottom: 10vh;
}

.proj-modal-content {
  display: flex;
  flex-direction: column;
}

.description, .topics {
  text-align: left;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.skills .badge {
  margin: 0 5px;
  height: 1.2rem;
}
