/* ============================================= */
/*              Layout                      */
/* ============================================= */

html {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.back-image {
  background-image: linear-gradient($color-1-trans, $color-2-trans, $color-3-trans), url("../images/white-pokey-things.jpg");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.jumbotron {
  padding-top: 15vh;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 300px;
  justify-content: center;
}

.proj-modal-content {
  display: flex;
  flex-direction: column;
}

.description, .topics {
  text-align: left;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
}

.skills .badge {
  margin: 0 10px;
  height: 1.2rem;
}
