/* ============================================= */
/*              Layout                      */
/* ============================================= */

html {
  position: relative;
}

body, html {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.back-image {
  background-image: linear-gradient($color-1-trans, $color-2-trans, $color-3-trans), url("../images/white-pokey-things.jpg");
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.project-list {
  display: flex;
  flex: 0 300px;
  justify-content: flex-start;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.bottom-row {
  // grid-area: skills;
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
}

.skills .badge {
  margin: 0 10px;
  height: 1.2rem;
}
