.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background-modal;
}

.project-modal {
  width: 95%;
  display: block;
  margin: 3% auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  padding: 30px 20px;
  background-color: $light;
}

.modal-content {
  position: absolute;
  top: 0;
  text-align: left;
}

.project-modal img {
  align-self: center;
  width: 50%;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
}

.modal-prev {
  left: 5px;
}

.modal-next {
  right: 5px;
}

.hidden {
  display: none;
}