/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
  font-family: 'Raleway', sans-serif;
}

h5 {
  font-family: 'Oswald', sans-serif;
}

.card-text, li {
  font-family: 'Raleway', sans-serif;
}

.my-name, .profession, hr {
  color: $light;
  font-family: 'Oswald', sans-serif;
  @include words-shadow;
}

.strike {
  text-decoration: line-through;
}

.project-bubble p {
  color: $color-3;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  @include words-shadow;
}

