/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h5 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: $font-s;
}

.card-text, li {
  font-family: 'Raleway', sans-serif;
  font-size: $font-s;
}

.my-name, .profession, hr {
  color: $light;
  font-family: 'Oswald', sans-serif;
  @include words-shadow;
}

.about {
  color: $light;
  font-family: 'Raleway', sans-serif;
  @include words-shadow;
}

.project-bubble p {
  color: $color-3;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  @include words-shadow;
}

.description, .topic {
  font-family: 'Raleway', sans-serif;
}

